@charset "UTF-8";

.btn {
    background-color: #87cefa;
    border-radius: 40px;
    width: 25%;
    height: 47px;
    display: inline-block;
    transition: 0.6s;
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: 47px;
    margin: 2.0% 37.5%;
    border: none;
    font-size: 17px;
    outline: none;
    letter-spacing: 8px;
    text-align: center;
}

.btn:hover {
    color: #87cefa;
    background: #fff;
    border: 1px solid #87cefa;
    transition: 0.6s;
}

.btn_narrow {
    margin: 1% 31.5%;
    width: 38%;
}

.btn_another {
    margin: 0px 37.5%;
}

.indexbtn {
    width: 38%;
    margin: 3.5% 30%;
}

.btn:disabled {
    color: rgb(207, 200, 200);
    background-color: #5a90b2;
    pointer-events: none;
}