        /* お気に入り */
        
        .star input[type='checkbox']:checked~label {
            color: #F8C601;
        }
        
        .star input[type='checkbox'] {
            display: none;
        }
        
        .star label {
            color: #D2D2D2;
            /* 未選択の星をグレー色に指定 */
            font-size: 30px;
            /* 星の大きさを30pxに指定 */
            padding: 0 5px;
            /* 左右の余白を5pxに指定 */
            cursor: pointer;
            /* カーソルが上に乗ったときに指の形にする */
        }