@charset "UTF-8";
.main {
    margin: 0 auto;
}

.companyName {
    width: 75%;
    background-color: white;
    font-size: 20px;
    padding: 10px;
    border: 1px solid rgb(114, 114, 114);
    margin: 3% auto;
}